/*전체적인 body 테마*/
body {
  background-color: #282a36;
  text-decoration: none;
  font-family: sans-serif;
  color: #f8f8f2;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  background-color: #44475a;
  height: 10%;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #f8f8f2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #6272a4;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #282a36;
  color: #f8f8f2;
}

input[type="submit"],
input[type="button"] {
  background-color: #2ecc71;
  color: #f8f8f2;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #29b765;
}

input[type="submit"]:active,
input[type="button"]:active {
  background-color: #279e5f;
}

input[type="button"] {
  background-color: #e74c3c;
}

input[type="button"]:hover {
  background-color: #cf4339;
}

input[type="button"]:active {
  background-color: #c33228;
}

/* foam 테마 로그인, 회원가입, 게시물작성*/
.form {
  background-color: #44475a;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 450px;
  margin: 20px auto;
}
.post {
  position: relative;
  width: 30%;
  margin-bottom: 20px;
  background-color: #44475a;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form h1 {
  margin-top: 0;
}
.post h1 {
  margin-top: 0;
}
.post p {
  margin-bottom: 0;
}
.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.form-footer a {
  font-size: 14px;
  color: #f8f8f2;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}

.chart {
  background-color: #44475a;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chart-title {
  color: #f8f8f2;
  font-size: 24px;
  margin-bottom: 20px;
}

.chart-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.chart-label {
  font-size: 14px;
  color: #6272a4;
}

.chart-values {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.chart-value {
  font-size: 20px;
  color: #f8f8f2;
  font-weight: bold;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a,
.login-button a {
  text-decoration: none;
  color: #f8f8f2;
}

.logo img {
  margin-right: 10px;
  height: 32px;
  width: 32px;
}

.confirm-button {
  background-color: #2ecc71;
  color: #f8f8f2;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #34d058;
}

.confirm-button:active {
  background-color: #2d974d;
}

.container {
  overflow-y: auto;
  height: 65vh;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.xbox {
  width: 10px;  
  height: 10px;
}

.cancel-button {
  background-color: #e74c3c;
  color: #f8f8f2;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #cf4339;
}

.cancel-button:active {
  background-color: #c33228;
}

.button-container {
  margin-top: 20px;
}

.market_trade {
  background-color: #44475a;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mypage {
  margin-bottom: 20px;
}

/*footer 테마*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #f8f8f2;
  padding: 10px;
  background-color: #44475a;
}

#password-warning {
  color: #ff5555;
  margin-bottom: 10px;
  font-size: 14px;
}

/*팝업 modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  margin: 15% auto;
  width: 80%;
  max-width: 600px;
}

.modal-content {
  background-color: #44475a;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 4px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
