<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>코인 구매</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link href="static/img/main_logo_32.png" rel="icon" />
    <script>
      function cancelBuy() {
        window.location.href = "/";
      }

      function validateForm() {
        var coin_to_buy = document.getElementById("coin_to_buy").value;
        if (!coin_to_buy || isNaN(coin_to_buy) || parseInt(coin_to_buy) <= 0) {
          alert("유효한 코인 수를 입력하세요.");
          return false;
        }
        return true;
      }
    </script>
  </head>
  <body>
    {% set csrf_token = csrf_token() %}
    <div class="form">
      <h1>코인 구매</h1>
      <form
        action="/buyAtMarket"
        method="POST"
        onsubmit="return validateForm()"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <div>
          <label for="coinAmount">구매할 코인 수:</label>
          <input
            type="number"
            id="coin_to_buy"
            name="coin_to_buy"
            required
          /><br />
          1코인의 가격은 100원 입니다.<br />
        </div>
        <div class="form-buttons">
          <input type="submit" value="구매하기" />
          <button type="button" class="cancel-button" onclick="cancelBuy()">
            닫기
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
