<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>입금</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <script>
      function cancelDeposit() {
        window.location.href = "/mypage";
      }
    </script>
  </head>
  <body>
    <div class="form">
      <h1>입금</h1>
      <form action="/deposit" method="POST">
        {{ form.csrf_token }}
        <div>
          <label for="depositAmount">입금 금액:</label>
          <input
            type="number"
            id="account_balance"
            name="account_balance"
            required
          /><br /><br />
        </div>
        <div class="form-buttons">
          <input type="submit" value="입금하기" />
          <button type="button" class="cancel-button" onclick="cancelDeposit()">
            닫기
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
