<!DOCTYPE html>
<html>
  <head>
    <title>로그인</title>
    <link href="static/img/main_logo_32.png" rel="icon" />
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <h1>로그인</h1>
    <form action = "/login" method = "POST">
      {{form.csrf_token}}
      <div class = "form-group">
        {{form.userid.label("아이디")}}
        {{form.userid(class="form-control", placeholder="아이디")}}  
      </div>
      <div class = "form-group">
        {{form.password.label("비밀번호")}}
        {%if form.password.errors%} <!--로그인이 실패하면-->
        {{form.password.errors.0}} <!--첫번째 에러메시지 출력한다-->
        {%endif%} <!--실패하지 않았으면 비밀번호 넘긴다-->
        {{form.password(class="form-control", placeholder="비밀번호")}}
      </div>
      <div class="form-footer">
        <a href="/register">회원가입</a>
        <input type="submit" value="로그인" />
        <a href="/"><input type="button" value="취소" /></a>
      </div>
    </form>

    <footer>
      Software Engineering and Practice Team_6 <br />여재우 김동재
    </footer>
  </body>
</html>