<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>업비투</title>
    <link href="static/img/main_logo_32.png" rel="icon" />
    <link href="static/css/style.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.28.1/dist/apexcharts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <style>
      .apexcharts-tooltip {
        color: #000000;
      }
      a {
        color: #f8f8f2;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="header-wrapper">
        <div class="logo">
          <a href="/">
            <img src="static/img/main_logo_32.png" alt="업비투 로고" />
            업비투
          </a>
        </div>
        <div class="login-button">
          {%if userid%}
          <a href="/logout">로그아웃</a>
          {%else%}
          <a href="/login">로그인</a>
          {%endif%}
        </div>
      </div>
    </header>
    <div class="mypage">
      {% if userid %}
      <div
        id="userInfoContainer1"
        style="display: flex; justify-content: space-between"
      >
        <div class="login-button" style="margin-right: auto">
          <a href="/market" style="font-size: 28px">
            <img
              src="static/img/trade.png"
              alt="거래"
              style="height: 32px"
            />코인 마켓
          </a>
        </div>
        <div class="login-button">
          <a href="/mypage" style="font-size: 28px">
            <img
              src="static/img/user.png"
              alt="유저"
              style="height: 32px"
            />내정보
          </a>
        </div>
      </div>
      {% else %}
      <div id="userInfoContainer2"><a href="/login">로그인</a>을 해주세요.</div>
      {% endif %}
    </div>
    <div class="container">
      <div class="dashboard">
        <div class="chart">
          <div id="chart" style="text-align: center">코인 가격 변동 그래프</div>
        </div>
      </div>
    </div>
    <br />
    <div class="container">
      {%if userid%}
      <div class="market_trade">
        <h3>마켓에서 거래하기</h3>
        <div>남아있는 코인:</div>
      </div>
      {%else%} {%endif%}
    </div>

    <script>
      var options = {
        series: [
          {
            name: "Bitcoin",
            data: [100],
          },
        ],
        chart: {
          height: 350,
          type: "line",
        },
        stroke: {
          width: 7,
          curve: "smooth",
        },
        xaxis: {
          type: "datetime",
          categories: [
            "2023-06-01",
            "2023-06-02",
            "2023-06-03",
            "2023-06-04",
            "2023-06-05",
            "2023-06-06",
            "2023-06-07",
            "2023-06-08",
          ],
          labels: {
            style: {
              colors: "#f8f8f2",
            },
          },
        },
        yaxis: {
          min: 50,
          max: 150,
          title: {
            text: "가격(단위:원)",
            style: {
              color: "#f8f8f2",
            },
          },
          labels: {
            style: {
              colors: "#f8f8f2",
            },
          },
        },

        legend: {
          position: "top",
          horizontalAlign: "right",
          floating: true,
          offsetY: -25,
          offsetX: -5,
          labels: {
            colors: "#f8f8f2",
          },
        },
      };

      var chart = new ApexCharts(document.querySelector("#chart"), options);
      chart.render();
    </script>
    <footer class="footer">
      Software Engineering and Practice Team_6 <br />여재우 김동재
    </footer>
  </body>
</html>
