<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>코인 거래</title>
    <link href="static/img/main_logo_32.png" rel="icon" />
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <style>
      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
        box-sizing: border-box;
      }
      .new-post-link {
        text-decoration: none;
        color: #f8f8f2;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="header-wrapper">
        <div class="logo">
          <a href="/">
            <img src="static/img/main_logo_32.png" alt="업비투 로고" />
            업비투
          </a>
        </div>
        <div class="post-link">
          <a class="new-post-link" href="/post"
            ><img src="static/img/sell.png" style="height: 32px" /> 게시물
            작성</a
          >
        </div>
      </div>
    </header>
    <div class="container">
      {% for post in posts %}
      <div class="post">
        {% if post.author == userid %}
        <form
          class="xbox"
          action="{{ url_for('delete_post', post_id=post.id) }}"
          method="POST"
        >
          {{ form.csrf_token }}
          <button class="delete-button" type="submit" value="X">X</button>
        </form>
        {% endif %}
        <h3>[판매중]{{ post.title }}개</h3>
        <p>{{ post.price }}원</p>
        <p>Posted by: {{ post.author }}</p>
        <p>Date: {{ post.date }}</p>
        <a>
          <button
            type="button"
            class="confirm-button"
            data-toggle="modal"
            data-target="#purchaseModal{{ post.id }}"
          >
            구매
          </button>
        </a>
        <div
          class="modal fade"
          id="purchaseModal{{ post.id }}"
          tabindex="-1"
          role="dialog"
          aria-labelledby="purchaseModalLabel{{ post.id }}"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" id="purchaseModalLabel{{ post.id }}">
                  구매 확인
                </h1>
                <button
                  type="submit"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                  style="
                    background-color: #e74c3c;
                    color: #f8f8f2;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                    font-size: 15px;
                  "
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ post.title }} 코인을 {{ post.price}} 원에 구매하시겠습니까?
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="cancel-button"
                  data-dismiss="modal"
                >
                  취소
                </button>
                <form
                  action="{{ url_for('buy_post', post_id=post.id) }}"
                  method="POST"
                  style="display: inline"
                >
                  {{ form.csrf_token }}
                  <input class="confirm-button" type="submit" value="구매" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <footer>
      Software Engineering and Practice Team_6 <br />여재우 김동재
    </footer>
  </body>
</html>
