<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>마이페이지</title>
    <link href="static/css/style.css" rel="stylesheet" />
    <link href="static/img/main_logo_32.png" rel="icon" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      // 유저 정보를 가져와서 화면에 표시
      function fetchMyInfo() {
        axios
          .get("/getMyInfo")
          .then(function (response) {
            var info = response.data;
            document.getElementById("username").textContent = info.username;
            document.getElementById("account-balance").textContent =
              info.account_balance;
            document.getElementById("coin-count").textContent = info.coin_count;
            document.getElementById("coin-price").textContent = info.coin_price;
            document.getElementById("estimated-assets").textContent =
              info.estimated_assets;
          })
          .catch(function (error) {
            console.error(error);
          });
      }

      // 페이지 로드 시 유저 정보를 get
      document.addEventListener("DOMContentLoaded", function () {
        fetchMyInfo();
      });
    </script>
  </head>
  <body>
    <header>
      <div class="header-wrapper">
        <div class="logo">
          <a href="/">
            <img src="static/img/main_logo_32.png" alt="업비투 로고" />
            업비투
          </a>
        </div>
        <div class="login-button">
          {%if userid%}
          <a href="/logout">로그아웃</a>
          {%else%}
          <a href="/login">로그인</a>
          {%endif%}
        </div>
        <div class="login-button">
          <a href="/market">코인 거래</a>
        </div>
      </div>
    </header>
    <div class="form">
      <div class="mypage-info">
        <div class="info-item">
          <img
            src="static/img/user.png"
            alt="유저이미지"
            style="height: 50px"
          />
        </div>
        <br />
        <div class="info-item">
          <span class="info-label">유저이름 :</span>
          <span class="info-value" id="username"></span>
        </div>
        <br />
        <div class="info-item">
          <span class="info-label">계좌 잔고 :</span>
          <span class="info-value" id="account-balance"></span>
        </div>
        <br />
        <div class="info-item">
          <span class="info-label">보유 코인 수 :</span>
          <span class="info-value" id="coin-count"></span>
        </div>
        <br />
        <div class="info-item">
          <span class="info-label">코인 가격 :</span>
          <span class="info-value" id="coin-price"></span>
        </div>
        <br />
        <div class="info-item">
          <span class="info-label">추정 자산 :</span>
          <span class="info-value" id="estimated-assets"></span>
        </div>
        <div class="button-container">
          <a href="/deposit"><button class="confirm-button">입금</button></a>
          <a href="/withdraw"><button class="cancel-button">출금</button></a>
        </div>
      </div>
    </div>
    <footer>
      Software Engineering and Practice Team_6 <br />여재우 김동재
    </footer>
  </body>
</html>
