<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>게시물 작성</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link href="static/img/main_logo_32.png" rel="icon" />
    <style>
      .form h3 {
        margin-top: 0;
      }
      .form-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
      }
      .form-buttons button:first-child {
        margin-right: 10px;
      }
    </style>
    <script>
      function cancelPost() {
        window.location.href = "/market";
      }
      window.addEventListener("DOMContentLoaded", function () {
        var numberInput = document.getElementById("number");
        var priceInput = document.getElementById("price");
        var form = document.querySelector("form");

        form.addEventListener("submit", function (event) {
          // 숫자 갯수 제한
          var numberValue = numberInput.value;
          var numberCount = numberValue.replace(/[^0-9]/g, "").length;
          if (numberCount > 5) {
            event.preventDefault();
            alert("가지고 계신 코인의 갯수안에서 설정하셔야 합니다.");
            return;
          }

          // 판매가 범위 제한
          var priceValue = priceInput.value;
          var price = parseFloat(priceValue);
          if (isNaN(price) || price <= 0) {
            event.preventDefault();
            alert("판매가는 적절히 하세요");
            return;
          }
        });
      });
    </script>
  </head>
  <body>
    <div class="form">
      <h3>판매 게시물 작성</h3>
      <form action="/post" method="POST">
        {{ form.csrf_token }}
        <div>
          <label for="number">판매하실 코인의 갯수 : </label>
          <input type="number" name="title" id="number" required />
        </div>
        <br />
        <div>
          <label for="price">판매가</label>
          <input type="number" name="price" id="price" required />
        </div>
        <br />
        <div class="form-buttons">
          <button type="submit" class="confirm-button">게시하기</button>
          <button class="cancel-button" onclick="cancelPost()">취소하기</button>
        </div>
      </form>
    </div>
  </body>
</html>